﻿.ProductList {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    flex-grow: 1;
    width: 100%;
}

.ProductList > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;    
}

.ProductList a {
    text-decoration: none;
    color: black;
}