﻿.ProductDetails {    
    padding-top: 50px;
    width: 100%;
}

.ProductDetails > div {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.ProductDetails p {
    font-size: 1.4rem;
}

.ProductDetails > div > div {
    width: 200px;
}

.Row {
    display: flex;
    justify-content: space-between;
}

.NavText{
    font-size: 1.7rem;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    width: 100%;
}

.NavText > a {
    text-decoration: none;
}