﻿.Sidebar {
    min-width: 250px;
    width: 250px;
    padding: 20px 10px;
    box-sizing: border-box;
    background: #e3e2e2;
    z-index: 90;
    display: flex; 
    flex-direction: column;
}

.Sidebar ul {
list-style: none;
margin: 0;
padding: 0;
}

.Sidebar ul li {
margin-bottom: 15px;
background-color: #fff;
}

.Sidebar ul li a {
color: #363f54;
font-size: 30px;
text-decoration: none;
position: relative;
padding: 0 20px 10px 20px;
transition: opasity .3s;
width: auto;
display: block;
}

.Sidebar ul li a:hover, .active {
opacity: .7;
}

.Sidebar > a {
    margin-top: auto;
    color: #363f54;
    text-decoration: none;
    font-size: 30px;
    transition: opasity .3s;
}

.Sidebar > a:hover {
    color: #363f54;
    opacity: .9;
}