.Product {
    display: flex;
    margin: 10px;
    width: 255px;
    height: 285px;
    padding: 10px;
    border-radius: 5px;
    transition: border, box-shadow .3s;    
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14);
}

.Product > div {
    display: flex;
    flex-wrap: wrap;
}

.Product:hover {
    border: 1px solid #aaa;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .25);
    cursor: pointer;
}

.Product p {
    font-size: 1.4rem;
    margin: 0;
}

.InlineFlex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-self: flex-end;
    align-items: flex-end;
}

.ProductName {
    max-width: 165px;
}